<template>
  <div class="pb-20">
    <div class="relative min-h-[105vh] bg-gradient-to-tr from-[#E6FFFA] to-[#EBF4FF]">
      <h1 class="py-20 px-8 text-[42px] leading-[50px] text-center text-gray-800">Deine Job website</h1>
      <div class="bg-no-repeat bg-cover bg-contain bg-top pt-[100%]" style="background-image: url('/landing/undraw_agreement_aajr.svg')"></div>
      <svg class="absolute bottom-0 w-full" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 14 4">
        <path d="M 0 3 C 7 3 7 0 14 0 L 14 4 L 0 4 L 0 3" fill="#ffffff"/>
      </svg>
    </div>
    <Tabs :labels="['Arbeitnehmer', 'Arbeitgeber', 'Temporärbüro']">
      <Tab :index="0">
        <h2 class="text-gray-600 text-[21px] text-center leading-[25px] max-w-[70%] mx-auto pb-5">Drei einfache Schritte zu deinem neuen Job</h2>
        <div class="flex flex-col pr-5 pb-5">
          <div class="flex justify-end">
            <img src="/landing/undraw_Profile_data_re_v81r.svg" alt="Erstellen dein Lebenslauf" title="Erstellen dein Lebenslauf" />
          </div>
          <div class="flex flex-row items-end justify-start">
            <div class="text-gray-500 text-[130px] leading-[156px] mt-[-60px] mb-[-20px]">1.</div>
            <div class="text-gray-500 pl-5">Erstellen dein Lebenslauf</div>
          </div>
        </div>
        <div class="flex flex-col mx-[-1.25rem] px-[1.25rem] bg-no-repeat bg-cover min-h-[320px]" style="background-image: url('/landing/step-bg.svg')">
          <div class="flex flex-row items-end justify-start pt-5">
            <div class="text-gray-500 text-[130px] leading-[156px] pl-7 mb-[-20px]">2.</div>
            <div class="text-gray-500 pl-5">Erstellen dein Lebenslauf</div>
          </div>
          <div class="flex justify-center pt-5 pb-20">
            <img src="/landing/undraw_task_31wc.svg" alt="Erstellen dein Lebenslauf" title="Erstellen dein Lebenslauf" />
          </div>
        </div>
        <div class="mt-[-2.5rem]">
          <div class="flex flex-row items-end justify-start">
            <div class="text-gray-500 text-[130px] leading-[156px] pl-10 mb-[-20px]">3.</div>
            <div class="text-gray-500 pl-5">Mit nur einem Klick bewerben</div>
          </div>
          <div class="flex justify-end pt-5 pb-5">
            <img src="/landing/undraw_personal_file_222m.svg" alt="Mit nur einem Klick bewerben" title="Mit nur einem Klick bewerben" />
          </div>
        </div>
      </Tab>
      <Tab :index="1">
        <h2 class="text-gray-600 text-[21px] text-center leading-[25px] max-w-[80%] mx-auto pb-5">Drei einfache Schritte zu deinem neuen Mitarbeiter</h2>
        <div class="flex flex-col pr-5 pb-5">
          <div class="flex justify-end">
            <img src="/landing/undraw_Profile_data_re_v81r.svg" alt="Erstellen dein Unternehmensprofil" title="Erstellen dein Unternehmensprofil" />
          </div>
          <div class="flex flex-row items-end justify-start">
            <div class="text-gray-500 text-[130px] leading-[156px] mt-[-60px] mb-[-20px]">1.</div>
            <div class="text-gray-500 pl-5">Erstellen dein Unternehmensprofil</div>
          </div>
        </div>
        <div class="flex flex-col mx-[-1.25rem] px-[1.25rem] bg-no-repeat bg-cover min-h-[320px]" style="background-image: url('/landing/step-bg.svg')">
          <div class="flex flex-row items-end justify-start pt-5">
            <div class="text-gray-500 text-[130px] leading-[156px] pl-7 mb-[-20px]">2.</div>
            <div class="text-gray-500 pl-5">Erstellen ein Jobinserat</div>
          </div>
          <div class="flex justify-center pt-5 pb-20">
            <img class="mt-[-50px]" src="/landing/undraw_about_me_wa29.svg" alt="Erstellen ein Jobinserat" title="Erstellen ein Jobinserat" />
          </div>
        </div>
        <div class="mt-[-2.5rem]">
          <div class="flex flex-row items-end justify-start">
            <div class="text-gray-500 text-[130px] leading-[156px] pl-10 mb-[-20px]">3.</div>
            <div class="text-gray-500 pl-5">Wähle deinen neuen Mitarbeiter aus</div>
          </div>
          <div class="flex justify-center pt-5 pb-5">
            <img src="/landing/undraw_swipe_profiles1_i6mr.svg" alt="Wähle deinen neuen Mitarbeiter aus" title="Wähle deinen neuen Mitarbeiter aus" />
          </div>
        </div>
      </Tab>
      <Tab :index="2">
        <h2 class="text-gray-600 text-[21px] text-center leading-[25px] mx-auto pb-5">Drei einfache Schritte zur Vermittlung neuer Mitarbeiter</h2>
        <div class="flex flex-col pr-5 pb-5">
          <div class="flex justify-end">
            <img src="/landing/undraw_Profile_data_re_v81r.svg" alt="Erstellen dein Unternehmensprofil" title="Erstellen dein Unternehmensprofil" />
          </div>
          <div class="flex flex-row items-end justify-start">
            <div class="text-gray-500 text-[130px] leading-[156px] mt-[-60px] mb-[-20px]">1.</div>
            <div class="text-gray-500 pl-5">Erstellen dein Unternehmensprofil</div>
          </div>
        </div>
        <div class="flex flex-col mx-[-1.25rem] px-[1.25rem] bg-no-repeat bg-cover min-h-[320px]" style="background-image: url('/landing/step-bg.svg')">
          <div class="flex flex-row items-end justify-start pt-5">
            <div class="text-gray-500 text-[130px] leading-[156px] pl-7 mb-[-20px]">2.</div>
            <div class="text-gray-500 pl-5">Erhalte Vermittlungs- angebot von Arbeitgeber</div>
          </div>
          <div class="flex justify-center pt-5 pb-20">
            <img class="ml-14" src="/landing/undraw_job_offers_kw5d.svg" alt="Erhalte Vermittlungs- angebot von Arbeitgeber" title="Erhalte Vermittlungs- angebot von Arbeitgeber" />
          </div>
        </div>
        <div class="mt-[-2.5rem]">
          <div class="flex flex-row items-end justify-start">
            <div class="text-gray-500 text-[130px] leading-[156px] pl-10 mb-[-20px]">3.</div>
            <div class="text-gray-500 pl-5">Vermittlung nach Provision oder Stundenlohn</div>
          </div>
          <div class="flex justify-center pt-5 pb-5">
            <img src="/landing/undraw_business_deal_cpi9.svg" alt="Vermittlung nach Provision oder Stundenlohn" title="Vermittlung nach Provision oder Stundenlohn" />
          </div>
        </div>
      </Tab>
  </Tabs>
  </div>
</template>

<script>
export default {
  name: 'NuxtLanding',
}
</script>
