<template>
  <div class="fixed bg-white rounded-t-xl w-full max-w-sm m-[-1px] p-5 bottom-0 shadow-md-t z-10">
      <button class="w-full bg-gradient-to-r from-branding-primary to-branding-secondary p-2.5 rounded-xl text-white text-sm hover:shadow-hover active:shadow-active disabled:from-branding-primary-light disabled:to-branding-secondary-light disabled:text-branding-primary disabled:pointer-events-none">
        Kostenlos Registrieren
      </button>
    </div>
</template>

<script>
export default {
  name: 'NuxtNavBottom',
}
</script>
