<template>
  <div class="fixed bg-white rounded-b-xl w-full max-w-sm m-[-1px] shadow-md z-10">
    <div class="h-[5px] bg-gradient-to-r from-branding-primary to-branding-secondary"></div>
    <div class="p-5 flex justify-end">
      <button class="text-sm text-branding-primary hover:underline">Login</button>
    </div>
  </div>
</template>

<script>
export default {
  name: 'NuxtNavTop',
}
</script>
