<template>
  <div class="pb-10 px-5">
    <div ref="tabsScrollContainer" class="relative flex overflow-hidden pb-4">
      <div class="relative border border-gray-200 flex flex-row mx-auto w-[480px] min-w-[480px] rounded-lg overflow-hidden">
        <div class="absolute top-0 bottom-0 w-[160px] bg-[#81E6D9] transition-all duration-300"
          :style="{left: (activeTab * 160) + 'px'}"
        ></div>
        <button class="relative p-2.5 text-ellipsis border border-t-0 border-b-0 border-gray-200 text-sm min-w-[160px] w-[160px]" 
          v-for="(label, index) in labels" v-bind:key="index" v-on:click="activateTab(index)"
          :class="{'text-white': activeTab === index, 'text-branding-primary': activeTab !== index}"
        >
          {{label}}
        </button>
      </div>
    </div>
    <div class="pt-5">
      <slot />
    </div>
  </div>
</template>

<script>
export default {  
  name: 'NuxtTabs',
  props: {
    labels: [],
  },
  data () {
    return { activeTab: 0 }
  },
  methods: {
    activateTab (index) {
      this.activeTab = index;
      let el = this.$refs.tabsScrollContainer;
      if (el) {
        el.scroll({
          left: index * 160 - 80,
          top: 0,
          behavior: 'smooth'
        });
      }
    }
  }
}
</script>
