<template>
  <MainLayout>
    <NavTop />
    <NavBottom />
    <Landing />
  </MainLayout>
</template>

<script lang="ts">
import Vue from 'vue'

export default Vue.extend({
  name: 'IndexPage',
})
</script>
